[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
aiohttp = "*"
pytest = "*"
dynaconf = {extras = ["yaml"]}
arrow = "*"
apscheduler = "*"
uvloop = "*"
black = "*"
motor = "*"
aioprocessing = "*"

[dev-packages]

[requires]
python_version = "3.7"
